django==4.2.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
boto3
psycopg2-binary
django-cors-headers
openpyxl==3.1.2
#django-eav2==1.5.0
bs4
django-ses
pillow
reportlab
PyPDF2
qrcode
xhtml2pdf==0.2.15
django-filter
#cryptography==41.0.7
pytest-django
model-bakery
numpy
pymupdf
gunicorn